@media screen and (max-width: 767px) {
    .header__phone {
        display: none;
    }

    .header__logo {
        width: 80px;
        height: 31px;
        background-size: contain;
        margin-left: 0;
    }

    .header {
        margin-top: 10px;
    }

    .header__burger {
        width: 30px;
        height: 20px;
        background-size: contain;
        margin-left: 0;
        margin-right: 10px;
    }

    .category-menu__item {
        margin: 0;
        width: 97px;
        height: 116px;
        margin-bottom: 5px;
    }

    .category-menu {
        margin-top: 19px;
        padding: 0 10px;
    }

    .category-menu__item___image {
        width: 89px;
        height: 79px;
        object-fit: cover;
        padding-top: 2px;
    }

    .category-menu__item___text {
        font-size: 12px;
        line-height: 14px;
        min-height: initial;
    }

    .order-form-1__inputs {
        flex-direction: column;
    }

    .utp-1__image {
        height: 111px;
    }

    .utp-1 h2 {
        font-size: 18px;
        top: 35px;
        left: 12px;
        line-height: 18px;
        letter-spacing: -0.02em;
    }

    .utp-1 {
        margin-top: 25px;
        height: 500px;
    }

    .order-form-1 {
        top: 111px;
    }

    .order-form-1 h3 {
        font-size: 17px;
        padding: 15px 10px;
        line-height: 19px;
    }

    .order-form-1 {
        padding: 5px 10px;
    }

    .order-form-1__inputs__group {
        width: 100%;
    }

    .order-form-1__buttons {
        width: 100%;
    }

    .order-form-1__inputs {
        padding: 3px 10px;
    }

    .input-group label {
        font-size: 12px;
        top: 15px;
    }

    .input-group input {
        height: 45px;
        font-size: 12px;
        font-weight: bold;
        padding: 25px 10px 10px 10px;
    }

    input:focus ~ label, input:valid ~ label {
        top: 7px;
        font-size: 9px;
    }

    .select-group select {
        height: 45px;
        font-size: 12px;
        padding-top: 16px;
        font-weight: bold;
    }

    .select-group label {
        font-size: 9px;
        top: 7px;
    }

    .select-group:before {
        right: 10px;
        top: 16px;
        width: 16px;
        height: 12px;
        background-size: contain;
    }

    .order-form-1__buttons .green-button,
    .order-form-1__buttons .hole_button {
        width: 280px;
        font-size: 12px;
        height: 34px;
    }

    .order-form-1__buttons {
        padding: 0;
        padding-top: 10px;
    }

    .order-form-1__or {
        font-size: 11px;
        height: 41px;
        padding-top: 14px;
    }

    .order-form-1__or:before {
        left: 115px;
        top: 22px;
        width: 51px;
    }

    .order-form-1__or:after {
        right: 115px;
        top: 22px;
        width: 51px;
    }

    .order-form-1 {
        height: auto;
    }

    .order-form-1 form {
        padding-bottom: 7px;
    }

    .benefits {
        width: 320px;
        padding: 0 30px;
        margin-top: 10px;
    }

    .benefits__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .benefits__item img {
        height: 40px;
        object-fit: contain;
    }

    .benefits__item span {
        font-size: 11px;
        text-align: center;
        padding-left: 0;
        padding-top: 14px;
        line-height: 12px;
    }

    .benefits__item.benefits_item__n1,
    .benefits__item.benefits_item__n2,
    .benefits__item.benefits_item__n3 {
        width: auto;
    }

    .services.services__left .services__content,
    .services.services__right .services__content {
        margin: 20px;
        width: calc(100% - 40px);
        margin-bottom: 0;
    }

    .services__right-image, .services__left_image {
        width: calc(100% - 40px);
        margin: 6px 20px;
    }

    .services .services__mobile__header {
        font-size: 18px;
        height: auto;
        width: calc(100% - 44px);
    }

    .services__items {
        flex-wrap: wrap;
    }

    .services {
        font-size: 12px;
    }

    .services__item__image {
        height: 50px;
    }

    .services .services__item {
        margin-bottom: 20px;
    }

    .services .services__item.services__item--w-300 {
        width: 130px;
    }

    .services .services__item.services__item--w-300 .services__item__description {
        width: 100%;
    }

    .services .services__mobile__header {
        margin-left: 43px;
        margin-top: 18px;
        margin-bottom: 0;
    }

    .services .services__mobile__header:before {
        width: 23px;
        height: 37px;
        background-size: cover;
        left: -24px;
        top: 10px;
    }

    .services__2 .services__item__image {
        height: 70px;
    }

    h3.orange-header {
        height: 33px;
        font-size: 17px;
        left: -1122px;
        margin-top: 1px;
        padding-right: 10px;
    }

    .orange-header-root {
        height: auto;
    }

    .services__right-image, .services__left_image {
        height: 350px;
    }

    .button-items {
        margin-top: 5px;
        max-width: 70%;
    }

    .button-items .hole_button {
        height: 20px;
        line-height: 12px;
        padding: 3px 5px;
        font-size: 12px;
        margin-bottom: 8px;
    }

    .button-items .hole_button + .hole_button {
        margin-left: 0;
        margin-right: 5px;
    }

    .button-items .hole_button:first-child {
        margin-right: 5px;
    }

    .services__content p {
        padding-top: 2px;
        line-height: 14px;
        margin-top: 0;
    }

    .services__left h4 {
        margin-top: 15px;
    }

    .services__item__description {
        font-size: 12px;
        line-height: 14px;
    }

    .services__items {
        justify-content: flex-start;

    }

    .services__items {
        margin-bottom: 5px;
    }

    .services__2 h2.services__mobile__header {
        margin-top: 0;
    }

    .services__item.services__item--w-200 {
        width: 130px;
        margin-bottom: 10px;
    }

    .services__2 .services__content p {
        padding-top: 0;
    }

    .services.services__2 {
        margin-top: 7px;
    }

    .services__2 .services__content h4 {
        padding-top: initial;
    }

    .services__item.services__item--w-200 .services__item__description {
        width: 100%
    }

    .services__6 .button-items {
        max-width: 90%;
    }

    .services__4 .services__content p {
        padding-top: 0;
    }

    .super_feature__item__image {
        width: 35px;
        height: 35px;
    }

    .super_feature__header__text {
        font-size: 12px;
        padding-left: 4px;
        padding-top: 5px;
    }

    .super_feature__item__description {
        font-size: 12px;
        line-height: 14px;
        height: 78px;
    }

    .super_feature__items {
        width: auto;
        margin-top: 19px;
    }

    .super_feature__item {
        width: calc(50% - 20px);
        margin: 0;
        margin-bottom: 20px;
    }

    .super_feature__item:nth-child(2n + 1) {
        margin-right: 30px;
    }

    .services__5 .button-items {
        margin-top: 0px;
        max-width: 95%;
    }

    .services__5 .services__item {
        width: 120px;
    }

    .services__5 .services__item__description {
        width: 120px;
    }

    .services__5 .services__item {
        margin-right: 20px;
    }

    .services__6 .services__item__description {
        width: 120px;
    }

    .services__6 .services__content h4 {
        margin-top: 22px;
    }

    .services__6 .services__item {
        width: 140px;
    }

    .services__6 .services__item__image {
        height: 90px;
    }

    .work-items {
        width: 100%;
    }

    .our-work h3.orange-header {
        left: -1066px;
    }

    .work-item__image {
        width: 168px;
        height: 168px;
    }

    .work-item {
        height: 228px;
        width: 180px;
    }

    .work-items {
        margin-top: 54px;
    }

    .work-item__text {
        font-size: 12px;
        line-height: 14px;
        text-overflow: ellipsis;
    }

    .partners__image__768 {
        display: none;
    }

    .partners__image__320 {
        display: block;
    }

    .offices__map__768 {
        display: none;
    }

    .offices__map__320 {
        display: block;
    }

    .partners h3.orange-header {
        left: -1095px;
    }

    .partners img {
        margin: 0 auto;
        margin-top: 52px;
    }

    h3.orange-header.orange-header--wide {
        display: none;
    }

    h3.orange-header.orange-header--320 {
        display: flex;
    }

    h3.orange-header--320 {
        line-height: 21px;
        left: -904px;
        height: 54px;
        text-align: left;
    }

    .call-master h3.orange-header {
        left: -974px;
    }

    .call-master .name-input {
        margin-right: 20px;
        max-width: 400px;
        width: 100%;
    }

    .orange-button {
        width: 300px;
        line-height: 15px;
        font-size: 12px;
        height: 34px;
    }

    .call-master__form form {
        flex-direction: column;
        padding: 29px 10px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .call-master .service-input {
        width: 100%;
    }

    .call-master .name-input,
    .call-master .phone-input,
    .call-master .select-group.service-input {
        max-width: 300px;
    }

    .call-master {
        margin-top: 29px;
    }

    .call-master h3.orange-header {
        left: -995px;
    }

    .call-master__form {
        margin-top: 55px;
    }

    .orange-button {
        margin: 0;
    }

    .call-master .name-input {
        margin: 0;
        margin-bottom: 10px;
    }

    .call-master .phone-input {
        margin-right: 0;
    }

    .call-master__form .input-group, .call-master__form .select-group {
        margin-right: 0;
    }

    .offices h3.orange-header {
        left: -1063px;
    }

    .offices {
        margin-top: 29px;
    }

    .offices__map {
        padding-top: 54px;
    }

    footer {
        margin-top: 30px;
    }

    .footer__logo img {
        width: 120px;
        margin-top: 20px;
        margin-left: 12px;
    }

    .footer__logo {
        width: 100%;
        padding: 0;
    }

    .footer__root {
        flex-wrap: wrap;
    }

    .footer__social {
        width: 100%;
    }

    .footer__social {
        display: none;
    }

    .footer__social.footer__social--m {
        display: flex;
    }

    .footer__root a {
        font-size: 9px;
        line-height: 11px;
        padding-bottom: 5px;
    }

    footer {
        height: auto;
    }

    .footer__cols {
        justify-content: space-between;
        padding-left: 10px;
        align-items: flex-start;
    }

    .footer__col-m {
        width: 145px;
    }

    .footer__social__icons img {
        width: 30px;
        height: 30px;
        margin-right: 7px;
    }

    .footer__social__icons {
        width: 200px;
        padding-left: 10px;
        padding-top: 10px;
    }

    .footer__social.footer__social--wide {
        display: none
    }

    .footer_copy {
        font-size: 9px;
        line-height: 12px;
        margin-top: 6px;
        margin-left: 10px;
    }

    .footer__social {
        display: flex;
        flex-direction: column;
    }
}